* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --text-color: #272835;
  --page-px: 2rem; 

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(to right bottom, #e5d9f2, #d7d3eb, #abb7c9);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-nav {
  padding: 2rem var(--page-px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-nav a {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
}

.about-nav-subdiv {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-color);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

/* ======== Main ========= */
.about-main {
  padding: 1rem var(--page-px);
  max-width: 65%;
  margin: 0 auto;
}

.about-main h2 {
  font-size: 1.8rem;
  margin: 2.5rem 0 1.5rem 0;
  text-align: center;
}

.about-main dt,
.about-main h3 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.about-main p,
.about-main ol {
  font-size: 1.1rem;
}

.about-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-main img {
  margin: 1.5rem auto;
  width: 50%;
  max-width: 500px;
}

.about-example {
  background-color: hsl(0, 0%, 93%);
  padding: 15px;
  border-radius: 6px;
  font-size: 1.1rem;
  margin: .7rem 0;
}

.example-span {
  font-weight: bold;
}

.about-main ol {
  list-style-position: inside;
}

.about-main a {
  color: var(--text-color);
  transition: color .2s;
}

.about-main a:hover {
  color: var(--highlight-color);
}
