* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --text-color: #272835;
  --disabled-btn: hsl(236, 15%, 28%);
  --dark-highlight: hsl(215, 51%, 37%);
  --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --dim-color: hsl(231, 28%, 35%);
  --highlight-color: hsl(21, 87%, 56%);

  font-family: var(--font-family);
  /* background-color: #E5D9F2; */
  background-image: linear-gradient(to right bottom, #e5d9f2, #d7d3eb, #abb7c9);
  color: var(--text-color);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 1.8rem;
}

.blocked-url {
  font-size: 1.4rem;
  color: var(--dark-highlight);
}

.motivation-heading {
  font-size: 1.1rem;
  font-style: italic;
  color: var(--dim-color);
}

.hero-img {
  max-height: 50dvh;
}

.block-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.block-footer a,
.block-footer p {
  font-size: 1rem;
  color: var(--text-color);
}

.block-footer a {
  text-decoration: none;
}

.block-footer a:hover,
.delete-btn:hover {
  /* text-decoration: underline; */
  cursor: pointer;
}

.action-btns-wrapper {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: space-around;
}

.delete-btn {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--text-color);
  background-color: transparent;
  border: none;
}

.delete-btn:disabled {
  color: var(--disabled-btn);
}

.delete-btn:disabled:hover {
  cursor: not-allowed;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-color);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}
