/* global styles that apply to all extension pages (options, blocked, about, etc.) */

body {
  --bg-light: linear-gradient(to right bottom, hsl(269, 49%, 88%), hsl(250, 38%, 86%), hsl(216, 22%, 71%));
  --bg-dark: linear-gradient(to right bottom, hsl(231, 15%, 40%), hsl(231, 15%, 30%), hsl(236, 3%, 16%));
}

body[data-theme="light"] {
  --text-color: #272835;

  background-image: var(--bg-light);
}

body[data-theme="dark"] {
  --text-color: white;

  background-image: var(--bg-dark);
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: white;

    background-image: var(--bg-dark);
  }
}