body {
  background-color: hsl(210, 13%, 80%);
}

.blacklist-table {
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
}

.blacklist-table th,
.blacklist-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid darkslategrey;
}

.blacklist-table tr:nth-child(even) {
  background-color: #fff;
}

.blacklist-table tr:nth-child(odd) {
  background-color: hsl(0, 0%, 88%);
}

.blacklist-table th {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
}

.blacklist-table .test-col {
  background-color: darkorange;
}

.btn:disabled {
  color: hsl(0, 0%, 30%);
  background-color: lightgray;
}

.btn:disabled:hover {
  cursor: not-allowed;
}
