body {
  background-color: hsl(210, 13%, 50%);
}

.table {
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid darkslategrey;
}

.blacklist-table tr:nth-child(even) {
  background-color: #fff;
}

.blacklist-table tr:nth-child(odd) {
  background-color: hsl(0, 0%, 88%);
}

.blacklist-table tbody .inactive-url {
  background-color: hsl(0, 0%, 58%);
  color: hsl(0, 0%, 36%);
}

.table th {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
}

.table .test-col {
  background-color: darkorange;
}

.btn:disabled {
  color: hsl(0, 0%, 30%);
  background-color: lightgray;
}

.btn:disabled:hover {
  cursor: not-allowed;
}

.extension-popup-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
