.popup-form {
  position: absolute;
  top: 50dvh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 2rem;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
  color: black;
  z-index: 100;
  width: 45vw;
  font-size: 16px;
}

.url-input-label {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.url-input {
  padding: 5px;
  font-size: 1.5rem;
}

.popup-form button {
  padding: 10px;
  font-size: 1.4rem;
}

.popup-form button:hover {
  cursor: pointer;
}
